body {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  background: black;
}

#test {
  width: 20vw;
  height: 10vw;
  background: white;
}

.container {
  position: relative;
  width: 10%;
  height: 20%;
  display: flex;
  align-items: center;
  top: 10%;
  left: 85%;
}

.cross {
  position: absolute;
  width: 0;
  height: 20%;
  background: black;
  transition: all .5s
}

.active-right {
  transform: rotate(45deg);
}
.active-left {
  transform: rotate(-45deg);
}
